.page-wrapper {
  display: flex;
  align-content: stretch;
  flex-direction: column;

}

body {
  min-height: 100vh;
  background: url("/img/background.png") no-repeat;
  background-position-x : center;
  background-position-y : center;
  background-size: cover;
}