
@font-face {
  font-family: 'robotoregular';
  src: url('/styles/fonts/roboto-regular-webfont.woff2') format('woff2'),
  url('/styles/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}