.footer {
    position: fixed;
    left: 120px;
    bottom:150px;
    right: 0;

    .b-btn {
        text-transform: uppercase;
        margin-left: 42%;
        height: 80px;
        border-radius: 40px;
        color: #ffffff;
        line-height: 80px;
        font-family: robotoregular, Arial, sans-serif;
        font-size: 22px;
        text-decoration: none;
        position: relative;
        box-shadow: 0px 30px 170px 30px #000000;
        @media(max-height: 500px) {
            display: none;
        }
        &:before {
            display: inline;
            content: '';
            position: absolute;
            top: -8px;
            left: -36px;
            bottom: -8px;
            right: -36px;
            z-index: -1;
            border-radius: 20px;
            background: #000000;
        }
    }
}