.header {
    padding: 90px 110px 0 230px;
    display: flex;
    .logo {
        font-size: 40px;
        color: #000000;
        line-height: 100%;
        font-family: robotoregular, Arial, sans-serif;
        text-decoration: none;
        font-weight: bold;
    }

    .menu{
        text-align: right;
        flex-grow: 1;
        margin: -10px -30px 0 0;
        padding-left: 30px;
        &-item{
            display: inline-block;
            color: #000000;
            line-height: 100%;
            font-family: robotoregular, Arial, sans-serif;
            text-decoration: none;
            font-size: 22px;
            padding: 0 30px;
            position: relative;
            margin-top: 20px;
            &:before {
                display: inline;
                content: '';
                position: absolute;
                top: -4px;
                left: 12px;
                bottom: -6px;
                right: 12px;
                z-index: -1;
                border-radius: 20px;
                transition: background 0.3s;
            }
            &:hover,
            &.active {
                color: #ffffff;
                &::before {
                    background: #000000;
                }
            }
            &.active{
                pointer-events: none;
            }



        }
    }

}
