.b-sitebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 120px;
    top: 0;
    bottom: 0;
    background: #ffffff;

    &-top{
        flex-grow: 1;
        display: flex;
        overflow: hidden;
        margin: 120px 0 0 0;

        &-text{
            $hideRightText: 580px;

            transform: rotate(-90deg);
            align-self: center;
            white-space: nowrap;
            margin-left: -140px;
            margin-bottom: 60px;
            text-transform: uppercase;
            @media(max-height: $hideRightText) {
                margin-left: 0;
            }

            &-left {
               font-size: 22px;
               color: #000000;
               line-height: 100%;
               font-family: robotoregular, Arial, sans-serif;
                @media(max-height: 390px) {
                    display: none;
                }
            }
            &-right{
                font-size: 22px;
                color: #b2b2b2;
                line-height: 100%;
                font-family: robotoregular, Arial, sans-serif;
                @media(max-height: $hideRightText) {
                    display: none;
                }
            }
        }
    }

    .b-link{
        background-position: center;
        height: 120px;
        width: 120px;
        background-image: url("/img/bag_icon.png");
        background-repeat: no-repeat;

        &:hover {
            background-size: 44px 40px;
        }
    }

}


